@import "theme.scss";

div.frame {
  position: relative;
  color: $frame-text;
  border: 1px solid transparentize($color: #FFF, $amount: 0.95);
  @include boxshadow2;
  border-radius: 9px;
  overflow: hidden;

  div.frame-body {
    position: relative;
    width: 100%;
    height: 100%;
    background: $frame-body;
  }

  div.frame-content {
    width: 100%;
    height: 100%;
    padding: 35px 0 0 0;
    overflow: hidden;
  }

  div.frame-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 1;
    background: $frame-header;
    color: $frame-text;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 9px 9px 0 0;

    a.frame-square {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 14px;
      color: $primary;
    }

    a.frame-plus {
      position: absolute;
      right: 35px;
      top: 10px;
      font-size: 14px;
      color: $primary;
    }

    div.frame-tooltip {
      position: absolute;
      left: -130px;
      top: -7px;
      width: 120px;
      background: $frame-body;
      border: 2px solid transparentize($color: #FFF, $amount: 0.95);
      border-radius: 5px;
      padding: 5px;
      font-size: 10px;
      text-align: center;
      opacity: 0;
      pointer-events: none;
    }

    a.frame-square {
      div.frame-tooltip {
        left: -150px;
      }
    }

    a.frame-plus, a.frame-square {
      &:hover {
        div.frame-tooltip {
          opacity: 1;
        }
      }
    }

    div.frame-button {
      width: 12px;
      height: 12px;
      margin: 5px 2.5px;
      border-radius: 50%;
      background: $red;

      &.yellow {
        background: $yellow;
      }

      &.green {
        background: $green;
      }
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  span.invisible {
    display: none;
  }

  span.space {
    padding: 0 5px;
    animation: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  span.lamda {
    margin: 0 10px 0 0;
  }

  pre {
    font-family: monospace;
    font-size: 16px;
    padding: 15px;
    color: $green;

    &.bold {
      font-weight: bold;
    }

    &.primary {
      color: $primary;
    }
  }

  textarea {
    font-family: monospace;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
    height: auto;
    resize: none;
    background: transparent;
    color: $green;
    overflow: hidden;
    outline: none;
    border: none;
    line-height: 1.5;
    pointer-events: none;
  }

  div.cursor {
    position: relative;
    top: 1px;
    display: inline-block;
    background: $green;
    width: 4px;
    height: 15px;
    margin: 0 0 0 5px;

    @keyframes glow {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    animation: glow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }

  &.doc {
    width: auto;
    height: auto;
    margin: 30px 0;

    &.cli {
      max-width: 860px;
      margin: 30px auto;

      &.less-padding {
        margin: 15px auto;
      }
    }

    &.code {
      max-width: 860px;
      margin: 30px auto;

      div.frame-body {
        div.frame-content {
          padding: 35px 0 0 0;
        }
      }
    }

    div.frame-body {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      border-radius: 10px;

      div.frame-content {
        height: auto;
        padding: 45px 0 15px 0;

        pre {
          padding: 5px 15px;
        }
      }
    }
  }


  &.title-frame {
    max-width: 100vw;
    width: 700px;

    @media (max-width: 640px) {
      width: 100vw;
    }

    div.frame-body {
      width: 700px;
    }
  }
}
