@import "theme.scss";

section.sim {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 640px;
  border-bottom: 1px solid rgb(64, 64, 64);
  overflow: hidden;
  padding :15px;

  &:last-of-type {
    border-bottom: none;
  }

  h2, p {
    text-align: center;
  }

  h2 {
    font-size: 24px;
    padding: 90px 0 10px 0;
  }

  div.buttons {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;

    a.button {
      width: 200px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;

      a.button {
        margin: 7.5px 0;
      }
    }
  }

  div.frame {
    div.frame-top {
      pointer-events: none;
    }
  }

  div.multi-frame {
    display: flex;
    justify-content: center;
    padding: 60px 0 45px 0;
    height: 640px;

    div.frame {
      margin: 0 15px;
      width: calc(50% - 30px);

      &.small {
        width: calc(40% - 30px);
      }
      &.large {
        width: calc(60% - 30px);
      }

      div.frame-content {
        min-height: 240px;

        &.sim-code {
          position: relative;
          pointer-events: none;
        }

        @media (max-width: 640px) {
          height: 240px;
        }
      }
    }

    a.button {
      position: absolute;
      left: calc(50% - 100px);
      top: calc(50% - 40px);
      width: 200px;
      height: 40px;
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      height: auto;
      padding: 30px 0 0 0;

      div.frame, div.frame.small, div.frame.large {
        position: static;
        width: 100%;
        height: auto;
        margin: 15px 0;
        padding: 0;

        div.frame-body {
          position: relative;
          left: 0;
          top: 0;
          height: auto;
          border-radius: 9px;
        }
      }

      div.frame.small div.frame-body div.frame-content {
        position: relative;

        a.button {
          top: 50%;
        }
      }
    }
  }
}
