@import "theme.scss";

section.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 640px;
  border-bottom: 1px solid rgb(64, 64, 64);
  overflow: hidden;

  div.copy {
    display: flex;
    align-items: center;
    max-width: calc(1650px - 480px);
    padding: 30px;

    img {
      position: relative;
      top: -32px;
      height: 96px;
    }

    div.text {
      padding: 30px 60px 30px 30px;
    }

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }

    div.buttons {
      display: flex;
      padding: 25px 0;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      justify-content: center;

      img {
        position: static;
        margin: 30px 0;
      }

      div.text {
        padding: 0;
        text-align: center;
      }

      div.buttons {
        justify-content: center;
      }
    }
  }

  div.title-frame {
    height: 480px;
    div.frame-top {
      pointer-events: none;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    div.copy {
      position: relative;
      padding: 30px;
    }
  }
}
